*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{

    margin-top: 30px;
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
   
    transform: translateX(42%);
     


}

body{
    background-color: yellow;
}
.wrapper{
    background-color: black;
    width: 30vw;
    position:absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:  20px;
    min-height: 40vh;
   
}

.paragraph{

    color: #fff;
    font-size: 12px;
    line-height: 1.3;
    word-spacing: 1px;
    max-width: 60%;
    margin: 0 auto;
    

}
.fade {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.transition {
    opacity: 1;
}

#emoji{
        
        font-size: 50px ;

}

#btn-submit{
    background-color: rgb(255, 183, 0);
    color: #fff;
    border-radius: 20px;
    height: 30px;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
   
}
